.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #4D5557;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.table-view .table-row-cell:selected {

    -fx-background-color: #2596be;
    -fx-table-cell-border-color: transparent;

}

.table-row-cell:selected .text {

    -fx-fill: black ;

}
