/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02 19, 24, 10:40:28 AM
    Author     : user
*/
#tableColumn{
    -fx-background-color: #007AA2;
}
#tblColumn{
    -fx-background-color: #28282B;
}